@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    width: 100%;
    height: 56px;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid #303030;
}

.nav1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-left: 25px;
}

.nav2 {
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav2-1 {
    width: calc(100% - 65px);
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav2-1 input {
    height: 100%;
    width: 80%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: larger;
    margin-left: 20px;
}

.nav2-1 button {
    width: 10%;
    height: 100%;
    padding: 0px 10px;
    overflow: hidden;
    background-color: #303030;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border: none;
}

.nav2-2 {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav3 {
    margin-right: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.sidebar {
    background-color: #212121;
    color: white;
    width: 18vw;
    height: calc(100vh - 57px);
    position: absolute;
    left: 0;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.top {
    width: 100%;
    height: 120px;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #303030;
}

.home {
    width: 100%;
    height: 24px;
    background-color: #303030;
    padding: 8px 8px 8px 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}

.sidebar1 {
    width: 100%;
    height: 24px;
    padding: 8px 8px 8px 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}

.top-2 {
    width: 100%;
    height: 266px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-bottom: 1px solid #303030;
}

.subscription {
    width: 100%;
    height: 450px;
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-bottom: 1px solid #303030;
}

.more {
    width: 100%;
    height: 220px;
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-bottom: 1px solid #303030;
}

.bottom {
    width: 100%;
    height: 205px;
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-bottom: 1px solid #303030;
}

.footer {
    width: 100%;
    height: 164px;
    padding-inline: 20px;
    padding-top: 10px;
}

h2 {
    padding: 8px 24px;
    color: #AAA;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
}

.container {
    width: 82vw;
    height: calc(100vh - 57px);
    position: absolute;
    right: 0;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.topmenu {
    width: 100%;
    height: 60px;
    background-Color: #212121;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.scroll div {
    display: inline-block;
}

.scroll {
    width: 100%;
    margin-inline: auto;
    white-space: nowrap;
}

.topmenu::-webkit-scrollbar {
    display: none;
}

.bar1 {
    height: 32px;
    width: 40px;
    background-color: white;
    color: #030303;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    border-radius: 32px;
    text-align: center;
    padding-top: 10px;
}

.bar {
    height: 28px;
    width: 65px;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    border-radius: 32px;
    border: 0.3px solid #AAA;
    background-color: #303030;
    text-align: center;
    padding-top: 10px;
}

.thumbnail {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    background-color: #000;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 15px;
    padding-top: 10px;
    border-radius: 5px;
}

.card {
    width: 280px;
    height: 300px;
    margin-left: 10px;
}

.upper {
    width: 280px;
    height: 155px;
    position: relative;
}

.upper p {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: black;
}

.upper img {
    width: 280px;
    height: 155px;
}

.lower {
    width: 280px;
    height: 100px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    width: 36px;
    height: 100px;
}

.lower .img img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.para {
    width: calc(280px - 50px);
    height: 100%;
}

.text {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 5px;
}

.name {
    color: #AAA;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 5px;
}

.view {
    color: #AAA;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.thumbnail::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 480px) {
    .thumbnail {
        grid-template-columns: 1fr;
    }

    .nav3,
    .nav2-2 {
        display: none;
    }
}

@media screen and (max-width: 800px) and (min-width: 480px) {
    .thumbnail {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1500px) {
    .thumbnail {
        grid-template-columns: repeat(5, 1fr);
    }
}